<!-- A little about page, with the used recources and the creator of lyriquiz. -->
<div class="text-center">
    <br>
    <h3>Credits</h3>
    <br>
    <h6>Lyriquiz Copyright by Luzius Koelling</h6>
    <br>
    <ul class="list-unstyled">
        <li><a href="https://developer.spotify.com/">Spotify AB</a></li>
        <li><a href="https://lyrics.ovh">lyrics.ovh</a></li>
        <li><a href="https://getbootstrap.com/">bootstrap</a></li>
        <li><a href="https://bootswatch.com/">bootswatch</a></li>
        <li>Font Glaresome by Situjuh Nazara</li>
        <li>Luzius Koelling</li>
        <br>
        <br>
        <li>For feedback, suggestions and bugs, please message me: </li>
        <li>Luzius_K[at]live.de</li>
        <br>
        <li>Thanks for checking this out!</li>
    </ul>
    <br>
</div>